### Books Recomendaton System

In [263]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [264]:
books = pd.read_csv('data/BX-Books.csv', sep= ";", on_bad_lines='skip', encoding='latin-1', low_memory=False)

In [265]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [266]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [267]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-L']]

In [268]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [269]:
books.rename(columns={
    "Book-Title": "title",
    "Book-Author": "author",
    "Year-Of-Publication": "year",
    "Publisher": "publisher",
    "Image-URL-L": "img_url"
}, inplace = True)

In [270]:
books.head(2)

,ISBN,title,author,year,publisher,img_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [271]:
users = pd.read_csv('data/BX-Users.csv', sep= ";", on_bad_lines='skip', encoding='latin-1', low_memory=False)

In [272]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [273]:
users.shape

(278858, 3)

In [274]:
ratings = pd.read_csv('data/BX-Book-Ratings.csv', sep= ";", on_bad_lines='skip', encoding='latin-1', low_memory=False)

In [275]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [276]:
ratings.rename(columns={
    "User-ID": "user_id",
    "Book-Rating": "rating" 
}, inplace=True)

In [277]:
ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [278]:
ratings['user_id'].value_counts()

user_id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [279]:
ratings['user_id'].unique().shape

(105283,)

In [280]:
i = ratings['user_id'].value_counts() > 300

In [281]:
i

user_id
11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: count, Length: 105283, dtype: bool

In [282]:
i[i].shape

(559,)

In [283]:
j = i[i].index

In [284]:
j

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       224646,  63394,  85701, 106816,  15418,  82511,  92853,  62895,  37567,
       263163],
      dtype='int64', name='user_id', length=559)

In [285]:
ratings = ratings[ratings['user_id'].isin(j)]

In [286]:
ratings

         user_id        ISBN  rating
1456      277427  002542730X      10
1457      277427  0026217457       0
1458      277427  003008685X       8
1459      277427  0030615321       0
1460      277427  0060002050       0
...          ...         ...     ...
1147612   275970  3829021860       0
1147613   275970  4770019572       0
1147614   275970   896086097       0
1147615   275970  9626340762       8
1147616   275970  9626344990       0

[443362 rows x 3 columns]

In [287]:
ratings.shape

(443362, 3)

In [288]:
books.head(2)

,ISBN,title,author,year,publisher,img_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [289]:
ratings_with_books = ratings.merge(books, on="ISBN")

In [290]:
ratings_with_books.head()

,user_id,ISBN,rating,title,author,year,publisher,img_url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...

In [291]:
ratings_with_books.shape

(410986, 8)

In [292]:
count_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [293]:
count_rating

                                                    title  rating
0        A Light in the Storm: The Civil War Diary of ...       2
1                                   Always Have Popsicles       1
2                    Apple Magic (The Collector's series)       1
3        Beyond IBM: Leadership Marketing and Finance ...       1
4        Clifford Visita El Hospital (Clifford El Gran...       1
...                                                   ...     ...
146000                             Ã?Â?ber das Fernsehen.       1
146001  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...       2
146002                                      Ã?Â?lpiraten.       1
146003                     Ã?Â?rger mit Produkt X. Roman.       1
146004                              Ã?Â?stlich der Berge.       1

[146005 rows x 2 columns]

In [294]:
count_rating.shape

(146005, 2)

In [295]:
count_rating.rename(columns={'rating': 'book_rating'}, inplace=True)

In [296]:
count_rating

                                                    title  book_rating
0        A Light in the Storm: The Civil War Diary of ...            2
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Beyond IBM: Leadership Marketing and Finance ...            1
4        Clifford Visita El Hospital (Clifford El Gran...            1
...                                                   ...          ...
146000                             Ã?Â?ber das Fernsehen.            1
146001  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...            2
146002                                      Ã?Â?lpiraten.            1
146003                     Ã?Â?rger mit Produkt X. Roman.            1
146004                              Ã?Â?stlich der Berge.            1

[146005 rows x 2 columns]

In [297]:
rating_final = ratings_with_books.merge(count_rating, on='title')

In [298]:
rating_final.head(2)

,user_id,ISBN,rating,title,author,year,publisher,img_url,book_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,64
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...,6

In [299]:
rating_final.shape

(410986, 9)

In [300]:
rating_final[rating_final['book_rating']>=50]

,user_id,ISBN,rating,title,author,year,publisher,img_url,book_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,64
13,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,100
15,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,79
18,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,87
24,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,73
...,...,...,...,...,...,...,...,...,...
410599,275970,0743412028,0,Pay It Forward,Catherine Ryan Hyde,2000,Pocket,http://images.amazon.com/images/P/0743412028.0...,54
410688,275970,0804111359,0,Secret History,DONNA TARTT,1993,Ballantine Books,http://images.amazon.com/images/P/0804111359.0...,61
410689,275970,0804117683,0,Moo,Jane Smiley,1998,Ivy Books,http://images.amazon.com/images/P/0804117683.0...,68
410820,275970,1400031354,0,Tears of the Giraffe (No.1 Ladies Detective Ag...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031354.0...,67
410933,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,108

In [301]:
rating_final = rating_final[rating_final['book_rating']>=50]

In [302]:
rating_final

,user_id,ISBN,rating,title,author,year,publisher,img_url,book_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,64
13,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,100
15,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,79
18,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,87
24,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,73
...,...,...,...,...,...,...,...,...,...
410599,275970,0743412028,0,Pay It Forward,Catherine Ryan Hyde,2000,Pocket,http://images.amazon.com/images/P/0743412028.0...,54
410688,275970,0804111359,0,Secret History,DONNA TARTT,1993,Ballantine Books,http://images.amazon.com/images/P/0804111359.0...,61
410689,275970,0804117683,0,Moo,Jane Smiley,1998,Ivy Books,http://images.amazon.com/images/P/0804117683.0...,68
410820,275970,1400031354,0,Tears of the Giraffe (No.1 Ladies Detective Ag...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031354.0...,67
410933,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,108

In [303]:
rating_final.sample(15)

,user_id,ISBN,rating,title,author,year,publisher,img_url,book_rating
402167,268932,0743467523,8,Dreamcatcher,Stephen King,2003,Pocket,http://images.amazon.com/images/P/0743467523.0...,124
300218,204864,0553287737,0,The Bourne Ultimatum,Robert Ludlum,1991,Bantam Books,http://images.amazon.com/images/P/0553287737.0...,51
150895,100846,0345417623,8,Timeline,MICHAEL CRICHTON,2000,Ballantine Books,http://images.amazon.com/images/P/0345417623.0...,112
173749,114414,0440218535,0,Smilla's Sense of Snow,Peter Hoeg,1997,Island,http://images.amazon.com/images/P/0440218535.0...,63
91445,56399,0140067477,10,The Tao of Pooh,Benjamin Hoff,1983,Penguin Books,http://images.amazon.com/images/P/0140067477.0...,61
146303,98391,0743418166,10,Good in Bed,Jennifer Weiner,2001,Atria,http://images.amazon.com/images/P/0743418166.0...,136
133957,89602,0060929871,0,Brave New World,Aldous Huxley,1998,Perennial,http://images.amazon.com/images/P/0060929871.0...,58
203390,135458,0553279912,0,A Is for Alibi (Kinsey Millhone Mysteries (Pap...,SUE GRAFTON,1987,Bantam,http://images.amazon.com/images/P/0553279912.0...,115
240677,167471,0425180638,0,The Last Precinct,Patricia Cornwell,2001,Berkley Publishing Group,http://images.amazon.com/images/P/0425180638.0...,98
15657,11676,0380977788,0,Coraline,Neil Gaiman,2002,HarperCollins,http://images.amazon.com/images/P/0380977788.0...,51
12945,11676,0060175400,10,The Poisonwood Bible,Barbara Kingsolver,1999,HarperCollins,http://images.amazon.com/images/P/0060175400.0...,54
320606,219546,0446613843,0,The Jester,James Patterson,2004,Warner Books,http://images.amazon.com/images/P/0446613843.0...,53
355912,236283,0446603716,0,Hide &amp; Seek,James Patterson,1996,Warner Books,http://images.amazon.com/images/P/0446603716.0...,50
178179,116599,0446608955,0,A Walk to Remember,Nicholas Sparks,2000,Warner Books,http://images.amazon.com/images/P/0446608955.0...,105
37157,23768,0446612545,0,The Beach House,James Patterson,2003,Warner Books,http://images.amazon.com/images/P/0446612545.0...,105

In [304]:
rating_final.shape

(38223, 9)

In [305]:
rating_final.drop_duplicates(['title', 'user_id'], inplace=True)

In [306]:
rating_final.shape

(36666, 9)

In [307]:
book_pivot = rating_final.pivot_table(columns='user_id', index='title', values='rating')

In [308]:
book_pivot

user_id,254,2276,3363,3757,4385,6251,6543,6575,7158,7346,...,270713,271284,273979,274004,274061,274301,274308,275970,277427,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Without Remorse,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wuthering Heights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN

In [309]:
book_pivot.shape

(500, 551)

In [310]:
book_pivot.fillna(0, inplace=True)

In [311]:
book_pivot

user_id,254,2276,3363,3757,4385,6251,6543,6575,7158,7346,...,270713,271284,273979,274004,274061,274301,274308,275970,277427,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Without Remorse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wuthering Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0

In [312]:
from scipy.sparse import csr_matrix

In [313]:
book_sparse = csr_matrix(book_pivot)

In [314]:
book_sparse

<500x551 sparse matrix of type '<class 'numpy.float64'>'
	with 8458 stored elements in Compressed Sparse Row format>

In [315]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [316]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [317]:
distance, suggestion = model.kneighbors(book_pivot.iloc[237, :].values.reshape(1, -1), n_neighbors=6)

In [318]:
distance

array([[ 0.        , 32.48076354, 32.89376841, 33.22649545, 33.95585369,
        34.16138171]])

In [319]:
suggestion

array([[237, 461, 133, 190,  95, 134]], dtype=int64)

In [320]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['Neverwhere',
       'Tom Clancy's Op-Center (Tom Clancy's Op Center (Paperback))',
       'Fortune's Rocks : A Novel', 'It Was on Fire When I Lay Down on It',
       'Debt of Honor (Jack Ryan Novels)', 'Foucault's Pendulum'],
      dtype='object', name='title')

In [321]:
book_pivot.index[3]

'4 Blondes'

In [322]:
book_pivot.index

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Heartbreaking Work of Staggering Genius',
       'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))',
       'A Man in Full',
       ...
       'Wicked: The Life and Times of the Wicked Witch of the West',
       'Wild Animus', 'Winter Moon', 'Winter Solstice', 'Wish You Well',
       'Without Remorse', 'Wuthering Heights',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='title', length=500)

In [323]:
book_name = book_pivot.index

In [324]:
import pickle
pickle.dump(model, open('artifacts/model.pkl', 'wb'))
pickle.dump(book_name, open('artifacts/book_name.pkl', 'wb'))
pickle.dump(rating_final, open('artifacts/rating_final.pkl', 'wb'))
pickle.dump(book_pivot, open('artifacts/book_pivot.pkl', 'wb'))

In [325]:
def book_recomendation(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id, :].values.reshape(1, -1), n_neighbors=6)

    for i in range(len(suggestion)):
        books = book_pivot.index[suggestion[i]]
        for j in books:
            print(j)

In [326]:
np.where(book_pivot.index == "1st to Die: A Novel")[0][0]

1

In [327]:
book_name = 'Wicked: The Life and Times of the Wicked Witch of the West'
book_recomendation(book_name)

Wicked: The Life and Times of the Wicked Witch of the West
Here on Earth
Tom Clancy's Op-Center (Tom Clancy's Op Center (Paperback))
The Reef
Temptation
Smilla's Sense of Snow